body {
    overflow-x: hidden;
}

.container,
.container-fluid {
    min-height: 50px;
    margin-top: 70px;
}

.container-fluid.custom {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.row.custom {
    margin: -20px;
}

.row.custom > [class^='col-'] {
    padding: 20px;
}

.product {
    border: 2px solid #444;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 5px 10px rgba(0,0,0,.3);
}

.product img {
    border-radius: 15px;
}

.product .title {
    margin: 20px 0;
    font-weight: 400;
    font-size: 20px;
}

.product .availability {
    font-size: 12px;
}

.product .price {
    text-align: right;
    font-size: 16px;
    color: #f22;
    transition: all .5s;
}

.product:hover {
    transform: scale(1.2);
    background-color: yellow;
}

.toggle {
    position: relative;
    width: 120px;
    height: 50px;
    border-radius: 25px;
    background: #ccc;
    cursor: pointer;
}

.toggle input {
    display: none;
}

.toggle span {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #777;
    transition: all .3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle input:checked ~ span {
    left: calc(100% - 45px);
    background: #4F4;
    transform: rotate(2160deg);
}
/*
wyłacza eventy związane z pointem (myszką, palcem)
pointer-events: none;

inputy z atrybutem disabled i readonly nie moga byc edytowane przez uzytkownika
wartosc inputa z disabled jest dodatkowo nie wysylana do serwera
*/

.demo {
    margin: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 162px;
    padding: 5px 45px 5px 10px;
    min-height: 46px;
    background: #febe18;
    font-weight: 700;
    color: #060606;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
}

.demo .ico {
    position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000;
    color: #febe18;
    font-size: 18px;
}