/*
article {
    width: 49%;
    margin: 10px 0;
    height: 60px;
    background: red;
    display: inline-block;
}
*/

.clearfix:before,
.clearfix:after {
    content: '';
    display: table;
    height: 0;
}

.clearfix:after {
    clear: both;
}

#archive {
    background: blue;
}

article {
    float: left;
    width: 100%;
    height: 60px;
    background: red;
    border: 1px solid black;
    padding: 10px;
    box-sizing: border-box;

}

@media (min-width: 540px) {
    article {
        width: 50%;
    }
}

@media (min-width: 768px) {
    article {
        width: 33.33%;
    }
}

@media (min-width: 1024px) {
    article {
        width: 25%;
    }
}

article:nth-child(odd) {
    background: green;
}

.text {
    background: red;
}

.text p {
    margin: 70px 0;
}

#master-footer {
    background: yellow;
}

#master-footer.dark:not(.clearfix) {
    background: black;
    color: yellow;
}

#master-footer .col {
    float: left;
    width: 33.33%;
}

@media (max-width: 499px) {}

@media (min-width: 500px) and (max-width: 1024px) {} 

@media (min-width: 1025px) {}

body {
    background: green;
}

@media (min-width: 801px) and (max-width: 849px) {
    body {
        background: white;
    }
}

body {
    background: white;
}

@media (max-width: 800px) {
    body {
        background: green;
    }
}

@media (min-width: 850px) {
    body {
        background: green;
    }
}
