article {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 200px;
    vertical-align: middle;
}

article:nth-child(1) {
    border: 4px solid #000;
    padding: 20px;
}

article:nth-child(2) {
    border: 4px solid #000;
}

article:nth-child(3) {
    background: #000;
    color: #fff;
}

article > div {
    position: absolute;
    top: 50%;
    left: 50%;
    /*
    wersja dla starych przegladarek
    width: 100px;
    line-height: 40px;
    margin: -20px 0 0 -50px;*/
    transform: translate(-50%, -50%);
}

#container {
    text-align: center;
}