article {
    display: inline-block;
    width: 200px;
    height: 200px;
    vertical-align: middle;
    display: inline-flex; /* min-height nie dziala w ie11 */
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

article:nth-child(1) {
    border: 4px solid #000;
    padding: 20px;
}

article:nth-child(2) {
    border: 4px solid #000;
}

article:nth-child(3) {
    background: #000;
    color: #fff;
}

#container {
    text-align: center;
}