article {
    display: inline-block;
    width: 200px;
    height: 200px;
    vertical-align: middle;
}

article:nth-child(1) {
    border: 4px solid #000;
    padding: 20px;
}

article:nth-child(2) {
    border: 4px solid #000;
}

article:nth-child(3) {
    background: #000;
    color: #fff;
}

article > div {
    width: 200px;
    height: 200px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#container {
    text-align: center;
}

table tr:nth-child(2n) td {}

table tr:nth-child(2n+1) td {}

table tr:nth-child(3n) td {}

table tr:nth-child(3n+1) td {}

table tr:nth-child(3n+2) td {}