article {
    background: rgb(255, 0, 0);
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    border: 4px dashed black; /* dashed / solid / dotted */
    /* dfsfsdafds */
    margin: 30px;
    padding: 20px 50px 70px;
}


article {
    font-size: 30px;
}

article > p {

}

article ~ div {

}

article[class*='test'] {

}

img {
    max-width: 100%;
    width: auto;
    height: auto;
}

time {
    display: inline-block; /* block / inline / inline-block */
    margin: 0 20px;
}


article p img {
    width: 200px;
    float: right; /* left / right */
    margin: 10px;
}

* {
    font: 15px/18px 'Open Sans', sans-serif;;
}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 30px;
    font: italic 800 20px/30px 'Taviraj', serif;
    /* font: font-style font-variant font-weight font-size/line-height font-family; */
}

.fa {
    font-size: 100px;
    color: lime;
}

.test {
    color: green;
}

input {
    display: block;
}

input[type="radio"],
input[type="checkbox"] {
    display: inline;
}