#content {
    min-height: 100vh;
    margin: 0 0 -200px;
}

#content:after {
    content: '';
    display: block;
    height: 200px;
}

#footer {
    height: 200px;
    background: green;
}

/*
ta metoda ma podstawowa wade, tj footer musi miec stala wysokosc
*/