body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#filler {
    flex: 1 1;
}

#footer {
    height: 200px;
    background: green;
}

/*
w tej metodzie footer, moze miec dowolna wysokosc, element o id filler uzywany jest do wypelnienia brakujacego miejsca pomiedzy trescia a stopka
*/