#menu a {
    display: block;
    padding: 10px 15px;
    white-space: nowrap;
}

#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid #999;
}

#menu ul li {
    position: relative;
    border-top: 1px solid #999;
    background: #eee;
}

#menu ul li:first-child {
    border-top: none;
}

#menu ul li > ul {
    display: none;
    position: absolute;
    top: -1px;
    left: 100%;
}

#menu ul li:hover {
    background: #bbb;
}

#menu ul li:hover > ul {
    display: block;
}

#menu > ul {
    border: none;
}

#menu > ul > li { 
    float: left;
    border: none;
    border-left: 1px solid #fff;
}

#menu > ul > li > ul {
    top: 100%;
    left: 0;
} 